body {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  margin-top: 1%;
  margin-bottom: 3%;
}

.button {
  width: 118px;
}

.wide {
  margin: auto;
  max-width: 240px;
  min-width: 240px;
}

#cardName {
  background-color: rgb(252, 222, 233);
}

#cardPosition {
  background-color: rgb(229, 252, 251);
}

#back {
  width: 95%;
  padding: 2%;
  transform: scale(1, 1);
}

#right {
  width: 95%;
  transform: scale(1, 0.9);
}

#reverse {
  width: 95%;
  transform: scale(-1, -0.9);
}

.notes {
  font-size: 15%;
  text-align: left;
}

.oracle {
  width: 22%;
}

#nowDate {
  font-size: 15%;
  vertical-align: 50%;
}

#spread {
  background-color: rgb(235, 208, 235);
  margin: auto;
  max-width: 240px;
  min-width: 240px;
  height: 100px;
}

.animation {
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-duration: 0.08s;
}

.keyframe0 {
  animation-name: anim_s;
  transform: rotate(30deg);
  animation-duration: 0.08s;
}

@keyframes anim_s {
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
